# Ignore files for push...
# Excluded files over than 100MB
# Large files in a GitHub free account has to be compress in 95MB files parts

# General exclusions
.idea/
.git/
.venv/
.venvPython310/
.venvPython311/
.grib/*.grib
.nc/*.nc

